[Desktop Entry]
Encoding=UTF-8
Name=Mincoin
Comment=Mincoin P2P Cryptocurrency
Comment[fr]=Mincoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mincoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/mincoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin128.png
MimeType=x-scheme-handler/mincoin;
Categories=Office;
